{
  "*.{js,ts}": ["pnpm biome.lint", "pnpm biome.format"],
  "*.{json,jsonc}": ["pnpm biome.lint", "pnpm biome.format"],
  "*.{yaml,yml}": ["pnpm prettier.format"],
  "*.*rc": ["pnpm prettier.format"],
  "*.md": ["pnpm prettier.format"],
  "*.ts": ["bash -c 'pnpm typecheck'"]
}
