name: "Push Workflow"

on:
  push:
    branches:
      - main
      - development

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
        name: Checkout Repository
      - uses: pnpm/action-setup@v4
        name: Setup PNPM
        with:
          version: 10.23.0
      - uses: actions/setup-node@v4
        name: setup Node.JS
        with:
          node-version: ${{ matrix['node-version'] }}
          cache: "pnpm"
      - name: Install Dependencies
        run: pnpm install
      - name: Run Dependency Check
        run: pnpm depcheck
      - name: Run TypeScript Check
        run: pnpm typecheck
